.card-episode {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  padding: 10px 10px;
  border-radius: 5px;
}

.card-episode h4 {
  margin: 0;
  margin-bottom: 10px;
}

.card-episode > span {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
}

.card-episode div {
  display: flex;
  justify-content: space-between;
}

.card-episode div span:nth-child(1) {
  margin-right: 10px;
}
