.card-character {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all .4s ease-in;
  
}

.card-character:hover {
  box-shadow: 0 0 2px rgba(0,0,0,.5);
  border-radius: 5px;
}

.card-character > img {
  width: 300px;
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #d0d0d0;
}

.card-character div.character-bookmark {
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.card-character > div.card-character-body {
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.truncate-text {
  width: 100%;
  -webkit-line-clamp: 1;
  text-overflow: clip;
}